* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88vh;
}

.square {
  width: 300px; /* Adjust the width */
  height: 300px; /* Adjust the height */
  position: relative;
  transform: rotate(45deg);
}

.line {
  position: absolute;
}

.top {
  top: 0;
  left: 0;
  width: 100%;
  height: 30px; /* Adjust the thickness */
  background-color: #f9a23e;
}

.right {
  top: 0;
  right: 0;
  width: 30px; /* Adjust the thickness */
  height: 100%;
  background-color: #d684c8;
}

.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; /* Adjust the thickness */
  background-color: #b3d4fc;
}

.left {
  top: 0;
  left: 0;
  width: 30px; /* Adjust the thickness */
  height: 100%;
  background-color: #95d38d;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 60px; /* Adjust this value to move the title lower */
  color: white; /* Change the color to white */
}

.title span {
  margin: 0 5px;
  color: orange; /* Keeps the & in orange */
}

.subtitle {
  margin-top: 20px; /* Adjust this value if you want to change the spacing between title and subtitle */
}

